body {
    background-color: #1d1d1d;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color:aquamarine;
}

#social-media {
    word-spacing: 16px;
}
#social-media a {
    color: #ff0062;
}
#social-media a:hover {
    color: white;
}

#personal-details {
    padding-top: 35px;
}
#personal-details #personal-image {
    min-width: 150px;
    max-width: 10%;
    border-radius: 500px;
    border: dashed aquamarine 4px;
}

#grid-menu {
    width: 100%;
}

.grid-cell {
    width: 25%;
    min-width: 120px;
    max-width: 960px;
    height: 25%;
    background-color: aquamarine;
    color: #1d1d1d;
    display: inline-block;
    margin: 5px;
    border-radius: 12px;
    cursor:pointer;
}
.grid-cell i {
    padding-top: 45px;
}
.grid-cell h5 {
    width: min-content;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.view {
    background-color: #414141;
    width: 100%;
    max-width: 960px;
    height: fit-content;
    padding-top: 1px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: none;
}

#gallery-view {
    /*This is to prevent the gallery list from having rounded bottom corners unlike the other lists*/
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.view li {
    text-align: left;
    padding: 15px 5px 15px 5px;
}
.view a {
    color: white;
}
.view a:hover {
    color: #ffd3d3;
}

#gallery-view img {
    width: 100%;
    max-width: 960px;
}

#qrcode {
    padding-top: 24px;
}
#qrcode img {
    width: 25%;
    max-width: 120px;
}
#qrcode p {
    width: 25%;
}


/*----- Gallery Images Modal -----*/

#gellery-image {
    cursor: pointer;
  }
  
#gellery-image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: black; /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
border-radius: 8px;
}

/* Caption of Modal Image */
#modal-caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

/* Add Animation */
.modal-content, #modal-caption {  
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
animation-name: zoom;
animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)} 
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
    width: 100%;
}
}